<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class=>"form-signin"}) do |f| %>
    <%= devise_error_messages! %>
    <div class="login-wrap">
        <p>Dados pessoais</p>
        <%= f.text_field :name, :class => "form-control", :placeholder => "Nome Completo", :autofocus => true %>
        <%= f.text_field :email, :class => "form-control", :placeholder => "Email", :autofocus => true %>
        <%= f.date_select :date_birth, :class => "form-control", :autofocus => true %>
        <%= f.text_field :facebook, :class => "form-control", :placeholder => "Facebook", :autofocus => true  %>
        <%= f.text_field :twitter, :class => "form-control", :placeholder => "Twitter", :autofocus => true  %>
        <div class="radios">
            <label class="label_radio col-lg-6 col-sm-6" for="radio-01">
                <input name="sample-radio" id="radio-01" value="1" type="radio" checked /> Male
            </label>
            <label class="label_radio col-lg-6 col-sm-6" for="radio-02">
                <input name="sample-radio" id="radio-02" value="1" type="radio" /> Female
            </label>
        </div>

        <p>Dados da conta</p>
        <%= f.text_field :login, :class => "form-control", :placeholder => "Usúario", :autofocus => true %>
        <%= f.password_field :password, :class => "form-control", :placeholder => "Senha" %>
        <%= f.password_field :password_confirmation, :class => "form-control", :placeholder => "Confirmar Senha" %>

        <label class="checkbox">
            <%= f.check_box :visible_data %> Dados visiveis?
        </label>
        <button class="btn btn-lg btn-login btn-block" type="submit">Cadastrar</button>

    </div>
<%end%>
